/* Estilos generales */


body {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  background-color: #535353;
  color: #fff;
}

.my-element {
  border: 1px solid #ccc; /* Cambia el color según tus preferencias */
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.sidebar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 10px;
}

.card {
  background-color:  #6E3667;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, transform 0.3s;
}

/*.card:hover {
  border-color: #88D317;
  transform: scale(1.05);
}*/

/* Estilos del formulario */

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.short-input {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.short-input:focus {
  border-color: #88D317;
  outline-color: #88D317;
}

.filterButton {
  text-align: center;
  margin-top: 20px;
}

.purple-button {
  background-color: #6b46c1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del navbar */

#navbar {
  background-color: #1A0315;
  padding: 4px; 
  display: flex;
  align-items: center;
}

.logo img {
  width: 42px;
  height: auto;
  margin-right: 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin-top: 10px;
  color: #1A0315;
  text-shadow: 1px 1px 2px #88D317;
}

/* Media queries para responsive */

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 10px;
  }

  .content {
    flex: 1;
  }
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, transform 0.3s;
}

.movie-card:hover {
  border-color: #88D317;
  transform: scale(1.05);
}

/* Paleta de colores */

.navbar-title {
  color: #88D317;
}

.movie-card-title {
  color: #6E3667;
}

.card-bg {
  background-color: #1A0315;
}

.purple-button:hover {
  background-color: #88d317;
  color: #1A0315;
}